/logs/*
/results/*
/test_results/*
/checkpoints/*
/.vscode/*
!*_results.csv
*.txt
*.png
*/.ipynb_checkpoints/*
/.ipynb_checkpoints/*
*.pyc
*.zip
*.xlsx
*.hdf5
prophet.*
/Hyper/outout/*

build_final_excel.ipynb
eval_all_experiments.ipynb
eval_summary_all_experiments.csv